# Environment variables
.env*
.env.local*

# Virtual environments
env/
venv/

# Snyk
.github/instructions/snyk_rules.instructions.md

# Local/dev files
/admincre

# Database (only if using SQLite)
db.sqlite3
db.sqlite3-journal